<!-- Adiciona uma pergunta -->

{% extends 'portfolio/layout.html' %}

<style>
    label {
        color: black;
    }

    body, html {
      height: 100%;
      margin: 0;
    }

    p {
        color: black;
    }
</style>


{% block content %}
    <div class="container row">
        <div class="col-md-6">
            <h1 style="color: #ffffff">Add Question</h1>
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="submit" name="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}