<!-- blog.html -->

{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" href={% static 'portfolio/css/grid.css' %}>

{% endblock style %}



{% block content %}
    <center><h1 style="color: white;">Blog</h1></center>
    {% for post in posts %}
        <div style="">            <h2 id="veryUniqueClass">{{ post.title }}</h2>
            <small>Posted at {{ post.date_added }}</small>
            <p>{{ post.intro }}</p>

            <a href="{% url 'portfolio:post_detail' post.slug %}">Ler mais!</a>
        </div>


    {% endfor %}





{% endblock content %}