<!-- home.html -->

{% extends 'portfolio/layout.html' %}


{% block style %}

{% endblock style %}



{% block content %}


    <h2 style="color: white">Bem Vindo ao meu Portfolio!</h2><hr>

    <center><a href="{% url 'portfolio:projeto' %}" ><h2 style="color: white; margin-bottom: 0">Programação</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/Csharp.png' %}" alt="{% url 'portfolio:projeto' %}">

    <br><br><br>

    <center><a href="{% url 'portfolio:projeto' %}" ><h2 style="color: white; margin-bottom: 0">Virtualização</h2></a><br></center>

    {% load static %}
    <img class="image" style="width: 100%" src="{% static 'portfolio/images/Containers.png'%} " alt="{% url 'portfolio:projeto' %}">

    <br><br><br>

    <center><a href="{% url 'portfolio:projeto' %}" ><h2 style="color: #ffffff; margin-bottom: 0">Reverse-Engeneering (IDA)</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/revEng.png'%} " alt="{% url 'portfolio:projeto' %}">



{% endblock %}




