<!-- home.html -->

{% extends 'portfolio/layout.html' %}


{% block style %}


{% endblock style %}



{% block content %}


    <h2 style="color: white">Bem Vindo ao meu Portfolio!</h2><hr>
    {% if not request.user.is_authenticated %}
    <h3 style="color: red; font-size: 120%">Para aceder a mais coisas precisa de se registar!</h3>
    {% endif %}
    <center><a href="{% url 'portfolio:programacao' %}" ><h2 style="color: white; margin-bottom: 0; font-size: 130%">Programação</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/Csharp.png' %}" alt="{% url 'portfolio:programacao' %}">

    <br><br><br>

    <center><a href="{% url 'portfolio:virtualizacao' %}" ><h2 style="color: white; margin-bottom: 0; font-size: 130%">Virtualização</h2></a><br></center>

    {% load static %}
    <img class="image" style="width: 100%" src="{% static 'portfolio/images/Containers.png'%} " alt="{% url 'portfolio:virtualizacao' %}">

    <br><br><br>

    <center><a href="{% url 'portfolio:reverse' %}" ><h2 style="color: #ffffff; margin-bottom: 0; font-size: 130%">Reverse-Engeneering (IDA)</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/revEng.png'%} " alt="{% url 'portfolio:reverse' %}">



{% endblock content %}




