<!DOCTYPE html>
{% load static %}

<html lang="" style="height: 100%; background: black">




<!--
 Este Portefólio foi feito com o que eu considero um bom portefólio
 se eu quisesse eu teria posto um monte de fotos inúteis e feias
 no (formação) de base, mas prefiro algo "clean" e minimalista, usei algum
 css que não é meu para chegar ao meu objetivo, mas de todas as linhas
 escritas uso muito pouco * estilos.css * e muitas das classes foram
 alteradas, para ficarem conforme o meu portefólio, obviamente
 não está completo, mas fiz tudo de front-end. Com conteúdo original,
 tentei no início fazer tudo como o professor, mas os resultados não
  estavam corretos, logo fiz da minha maneira
 -->

<head>
    <meta charset="UTF-16" name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio de Rodrigo Amaro</title>

    {% load static %}
    <link rel="stylesheet" href={% static 'portfolio/css/estilos.css' %}>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/dropdown.css' %}"/>
    <style>label {
        color: white
    }

    body, html {
        height: 100%;
        margin: 0;
    }

    p {
        color: white
    }</style>
</head>
<body class="bg" style="background: black">
<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-item" style="float: left">Rodrigo Amaro </a>
        <div>
            <a class="navbar-item" href={% url 'portfolio:home' %}><strong>Home</strong></a>

            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">Formação
                    <i> &#8595;</i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a class="" style=" position: static"
                       href={% url 'portfolio:programacao' %}><strong>Programação</strong></a>
                    <a class="" style=" position: static"
                       href={% url 'portfolio:virtualizacao' %}><strong>virtualizacao</strong></a>
                    <a class="" style=" position: static"
                       href={% url 'portfolio:reverse' %}><strong>reverse_Eng</strong></a>
                </div>
            </div>


            <script>
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function (e) {
                    if (!e.target.matches('.dropbtn')) {
                        var myDropdown = document.getElementById("myDropdown");
                        if (myDropdown.classList.contains('show')) {
                            myDropdown.classList.remove('show');
                        }
                    }
                }
            </script>


            <a class="navbar-item" style="left:180%" href={% url 'portfolio:educacao' %}><strong>Educacao</strong></a>
            <a class="navbar-item" style="left:180%" href={% url 'portfolio:contacto' %}><strong>Contacto</strong></a>
            <a class="navbar-item" style="left:180%"
               href={% url 'portfolio:licenciatura' %}><strong>Licenciatura</strong></a>


            {% if not request.user.is_authenticated %}
                <a class="navbar-item" style="left:180%" href={% url 'portfolio:login' %}><strong>login</strong></a>
            {% endif %}

            {% if not request.user.is_authenticated %}
                <a class="navbar-item" style="left:180%"
                   href={% url 'portfolio:register' %}><strong>register</strong></a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <a class="navbar-item" style="left:180%" href={% url 'portfolio:logout' %}><strong>logout</strong></a>
            {% endif %}


            {% if request.user.is_authenticated %}
                <a class="navbar-item" style="left:180%" href={% url 'portfolio:api' %}><strong>API</strong></a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <a class="navbar-item" style="left:180%" href={% url 'portfolio:pw' %}><strong>Web</strong></a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <a class="navbar-item" style="left:180%" href=https://pw-lab1-22004525.herokuapp.com/><strong>Outros Labs</strong></a>
            {% endif %}





            <a class="navbar-item" style="left:180%" href={% url 'portfolio:blog' %}><strong>Blog</strong></a>

            {% if request.user.is_authenticated %}
            <a class="navbar-item" style="left:180%" href={% url 'portfolio:quizz' %}><strong>quizz</strong></a>
            {% endif %}



        </div>

    </div>
</nav>

<section class="section" style="background: black">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>


<nav class="navbar" style="overflow: hidden; position:fixed; bottom: 0;width: 100%;margin-top: 50px">
    <div class="navbar-brand">

        <a id="todaysDate" class="navbar-item" style="position:absolute;left: 42%"></a>

        <script>
            function doDate() {
                let str = "";

                const days = ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"];
                const months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];

                const now = new Date();

                str += "Hoje é: " + days[now.getDay()] + ", " + now.getDate() + " " + months[now.getMonth()] + " " + now.getFullYear() + " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                document.getElementById("todaysDate").innerHTML = str;
            }

            setInterval(doDate, 1000);
        </script>

        <a style="position: center;" href="https://www.ulusofona.pt/" class="navbar-item">ULHT</a>
    </div>
</nav>
</body>

</html>

