<!DOCTYPE html>
{% load static %}

<html lang="" style="height: 100%">

<head>
    <meta charset="UTF-16" name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio de Rodrigo Amaro</title>

    {% load static %}
    <link rel="stylesheet" href={% static 'portfolio/css/estilos.css' %}>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/dropdown.css' %}"/>
    <style>label {
        color: white
    }

    body, html {
      height: 100%;
      margin: 0;
    }

    p {
        color: white
    }</style>
</head>
<body class="bg" style="background: black">
<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-item" style="float: left">Rodrigo Amaro</a>
        <div>
            <a class="navbar-item" href={% url 'portfolio:home' %}><strong>Home</strong></a>

            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">Formação
                    <i> &#8595;</i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a class="" style=" position: static"
                       href={% url 'portfolio:programacao' %}><strong>Programação</strong></a>
                    <a class="" style=" position: static"
                       href={% url 'portfolio:virtualizacao' %}><strong>virtualizacao</strong></a>
                    <a class="" style=" position: static"
                       href={% url 'portfolio:reverse' %}><strong>reverse_Eng</strong></a>
                </div>
            </div>


            <script>
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function (e) {
                    if (!e.target.matches('.dropbtn')) {
                        var myDropdown = document.getElementById("myDropdown");
                        if (myDropdown.classList.contains('show')) {
                            myDropdown.classList.remove('show');
                        }
                    }
                }
            </script>


            <a class="navbar-item" style="left:180%" href={% url 'portfolio:sobre' %}><strong>Sobre</strong></a>
            <a class="navbar-item" style="left:180%" href={% url 'portfolio:contacto' %}><strong>Contacto</strong></a>
            <a class="navbar-item" style="left:180%"
               href={% url 'portfolio:licenciatura' %}><strong>Licenciatura</strong></a>
            <a class="navbar-item" style="left:180%" href={% url 'portfolio:blog' %}><strong>Blog</strong></a>


        </div>

    </div>
</nav>

<section class="section">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>


<nav class="navbar">
    <div class="navbar-brand">
        <a style="right: -2800%" href="https://www.ulusofona.pt/" class="navbar-item">ULHT</a>
    </div>
</nav>
</body>

</html>

