<!-- Licenciatura.html -->

{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/licen.css' %}"/>

{% endblock style %}


{% block content %}

    <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica"><h1
            style="color: White;width:auto; position: absolute; left:5%; size: 5rem">Licenciatura</h1></a>
    <center>
        <h2 style="color: white">Nome da Cadeira | Semestre | ETC's | rank</h2>
        <hr>
        <div class="cadeiras">
            <h2 style="color: white">1ºAno</h2>
            <h3 style="color: white">*******************************************************************************</h3>


            {% for cadeira in cadeiras %}
                <dl></dl>
                {% if cadeira.ano == 1 %}
                    <dd style="color: white">{{ cadeira.nomeCadeira }} | {{ cadeira.semestre }} | {{ cadeira.etcs }} | {{ cadeira.rank }}</dd>
                {% endif %}
            {% endfor %}
            <hr>

            <h2 style="color: white">2ºAno</h2>
            <h3 style="color: white">*******************************************************************************</h3>


            {% for cadeira in cadeiras %}
                <dl></dl>
                {% if cadeira.ano == 2 %}
                    <dd style="color: white">{{ cadeira.nomeCadeira }} | {{ cadeira.semestre }} | {{ cadeira.etcs }} | {{ cadeira.rank }}</dd>
                {% endif %}
            {% endfor %}
            <hr>

            <h2 style="color: white">3ºAno</h2>
            <h3 style="color: white">*******************************************************************************</h3>


            {% for cadeira in cadeiras %}
                <dl></dl>
                {% if cadeira.ano == 3 %}
                    <dd style="color: white">{{ cadeira.nomeCadeira }} | {{ cadeira.semestre }} | {{ cadeira.etcs }} | {{ cadeira.rank }}</dd>
                {% endif %}
            {% endfor %}

            <br><br><br>
            <hr>


        </div>
    </center>


{% endblock content %}