<!-- Licenciatura.html -->

{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/estilos.css' %}"/>

{% endblock style %}


{% block content %}

    <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica"><h1 style="color: White;width:auto; position: absolute; top: -4%; size: 5rem">Licenciatura</h1></a>
<center style="">
    {% for cadeira in cadeiras %}


    {% endfor %}
    <dl style="">
        <dt style="color: white">1.º Ano/ Tronco comum     |	Semestre | 	ECTS | Score
            <dd style="color: white">----------------------------------------------------</dd>
            <dd style="color: white">->Fundamentos de Física     |	Semestral |	6 | ★★★★★</dd>
            <dd style="color: white">->Fundamentos de Programação|	1º Semestre |	6 |★★★</dd>
            <dd style="color: white">->Matemática Discreta       |	1º Semestre |	6 |★</dd>
            <dd style="color: white">->Matemática I              |	1º Semestre |	6 |★★★★★</dd>
            <dd style="color: white">->Sistemas Digitais         |	1º Semestre |	6 |★</dd>
            <dd style="color: white">->Álgebra Linear            |	2º Semestre |	5 |★</dd>
            <dd style="color: white">->Algoritmia e Estruturas de Dados|	2º Semestre|	6 |★★★</dd>
            <dd style="color: white">->Arquitetura de Computadores |	2º Semestre |	5 |★</dd>
            <dd style="color: white">->Competências Comportamentais |	2º Semestre |	4 |★★★</dd>
            <dd style="color: white">->Linguagens de Programação I |	2º Semestre |	5 |★★★★</dd>
            <dd style="color: white">->Matemática II |	2º Semestre |	5 |★★★★★</dd>
    </dl>
        <hr>
    <dl>
        <dt style="color: white">2.º Ano/ Tronco comum
            <dd style="color: white">----------------------------------------------------</dd>
            <dd style="color: white">->Arquiteturas Avançadas de Computadores	| 1º Semestre | 	6 |★★★★★</dd>
            <dd style="color: white">->Bases de Dados |	1º Semestre |	6 |★★★★</dd>
            <dd style="color: white">->Linguagens de Programação II |	1º Semestre |	6 |★★★</dd>
            <dd style="color: white">->Sinais e Sistemas |	1º Semestre |	6 |★★★★★</dd>
            <dd style="color: white">->Sistemas Operativos |	1º Semestre |	6 |★</dd>
            <dd style="color: white">->Computação Gráfica |	2º Semestre |	6 |★★★★★</dd>
            <dd style="color: white">->Engenharia de Requisitos e Testes | 2º Semestre |	6 |★★</dd>
            <dd style="color: white">->Programação Web |	2º Semestre |	6 |★★★</dd>
            <dd style="color: white">->Redes de Computadores | 	2º Semestre |	6 |★★★★★</dd>
            <dd style="color: white">->Sistemas de Suporte à Decisão |	2º Semestre |	6 |★★★</dd>
    </dl>
        <hr>
    <dl>
        <dt style="color: white">3.º Ano/ Tronco comum
            <dd style="color: white">----------------------------------------------------</dd>
            <dd style="color: white">->Trabalho Final de Curso | Anual |	20 |</dd>
            <dd style="color: white">->Computação Distribuída |	1º Semestre |	5 |</dd>
            <dd style="color: white">->Data Science |1º Semestre |	5 |</dd>
            <dd style="color: white">->Engenharia de Software | 1º Semestre |	5 |</dd>
            <dd style="color: white">->Interação Humano-Máquina | 	1º Semestre |	5 |</dd>
            <dd style="color: white">->Computação Móvel | 	2º Semestre |	5 | </dd>
            <dd style="color: white">->Inteligência Artificial | 2º Semestre |	5 |</dd>
            <dd style="color: white">->Segurança Informática | 2º Semestre |	5</dd>
            <dd style="color: white">->Sistemas de Informação na Nuvem | 2º Semestre |	5 |</dd>
    </dl>
</center>


{% endblock content %}