{% extends 'portfolio/layout.html' %}

{% block content %}
    <h1 style="color:white" class="title">{{ post.title }}</h1>

    <small style="color:white">Posted at {{ post.date_added }}</small>

    <p style="color:white"><strong>{{ post.intro }}</strong></p>

    <p style="color:white">{{ post.body }}</p>

    <hr>

    <h2 style="color: white" class="subtitle">Comments</h2>

    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong style="color: white">{{ comment.name }}</strong> <small style="color: white">{{ comment.date_added }}</small>
                        <br>
                        {{ comment.body }}
                    </p>
                </div>
            </div>
        </article>

    {% empty %}
        <div class="notification">
            <p>Sem comentários</p>
        </div>
    {% endfor %}

    <hr>

    <h2 style="color:white" class="subtitle">Adiciona um comentário</h2>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-success">Submeter</button>
            </div>
        </div>
    </form>

{% endblock content %}
