<!-- programacao.html -->

{% extends 'portfolio/layout.html' %}


{% load static %}
<link rel="stylesheet" href={% static 'portfolio/css/grid.css' %}>

{% block content %}
    <h3 class="titulo">Projetos</h3>


    <div class="container2">
        {% for projeto in projetos %}
            <div>
                <p style="color: white">
                    Autor: {{ projeto.nome }}.
                </p>
                <p style="color: white">

                    Linguagens: {{ projeto.linguagens }}
                </p>

                <img style="color: white" src="{{ projeto.imagem.url }}" alt="Projetos">

            </div>




        {% endfor %}
    </div>

{% endblock content %}

