<!-- programacao.html -->

{% extends 'portfolio/layout.html' %}


{% load static %}


{% block content %}


    <h1 style="color: white">Projetos de Programação</h1>


    <div class="container">


        {% for projeto in Programas %}

            <div>
                <img style="color: #ffffff; width:100%" src="{{ projeto.img }}" alt="Proj">
                <p style="color: white"> Nome: {{ projeto.nome }}  </p>
            </div>


        {% endfor %}


    </div>


    <!-- END MAIN -->








{% endblock content %}

