{% extends 'portfolio/layout.html' %}

{% load static %}
<link rel="stylesheet" href={% static 'portfolio/css/pw.css' %}>


{% block content %}

    <div class="container">
        <h1 class="title" style="color: white">Notícias</h1>

        <div>
            {% for noticia in noticias %}
                <div class="content" style="display: inline flow-root list-item;justify-content: center;border-radius: 10px;margin: 20px;background-color: #ffffff;border-bottom-color: #b22121;border-bottom-style: double;box-shadow: rgba(129,29,29,0.8) 5px 5px, rgb(77,19,19) 10px 10px;padding: 15px;">
                    <strong style="position:relative;bottom: -3px;"> {{ noticia.titulo }}</strong>
                    <br><br>
                    {% load static %}
                    <a href="{{ noticia.linkNot }}" target="_blank"> <img src="{{ noticia.img.url }}" alt=""> </a>

                </div>
            {% endfor %}

        </div>
    </div>

    <br><br><br><br><br><br><br>

    <div class="container">
        <h1 class="title" style="color: white">Tecnologias</h1>

        <div>
            {% for tecnologia in tecnologias %}
                <div class="content" style="display: inline flow-root list-item;justify-content: center;border-radius: 10px;margin: 20px;background-color: #ffffff;border-bottom-color: #b22121;border-bottom-style: double;box-shadow: rgba(129,29,29,0.8) 5px 5px, rgb(77,19,19) 10px 10px;padding: 15px;">
                    <strong style="position:relative;bottom: -3px;"> {{ tecnologia.nome }}</strong>
                    <br><br>
                    <p>{{ tecnologia.acronimo }}</p>
                    <p>{{ tecnologia.ano }}</p>
                    <p>{{ tecnologia.autor }}</p>
                    <p>{{ tecnologia.linkYo }}</p>
                    <p>{{ tecnologia.descricao }}</p>

                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}

