{% extends 'portfolio/layout.html' %}


{% block content %}

    <div class="container">
        <p class="title" style="color: white">Notícias</p>

        <div style="display: block;justify-content: center;border-radius: 10px;margin: 20px;background-color: #ffffff;border-bottom-color: #b22121;border-bottom-style: double;box-shadow: rgba(129,29,29,0.8) 5px 5px, rgb(77,19,19) 10px 10px;padding: 15px;">
            {% for noticia in noticias %}

            {% endfor %}

        </div>
    </div>


{% endblock %}

