{% extends 'portfolio/layout.html' %}


{% load static %}


{% block content %}

    <h1 style="color: white">Quizz section!</h1>
    <div style="padding-left: 150px; padding-top: 50px ;display: block; background:#aba6a6 ;height: 900px;       border-radius: 10px;        margin: 20px;        border-bottom-color: #b22121;        border-bottom-style: double;      box-shadow: rgba(129, 29, 29, 0.8) 5px 5px, rgb(77, 19, 19) 10px 10px;">


        <img src="../../static/portfolio/images/graf.PNG" alt="">

        <h2>{{request.user}}</h2>


        <form method="post" action="." style="">
            {% csrf_token %}
            {{ form.as_p }}


            <button class="button is-success" style="margin-top: 2%">Submeter</button>

        </form>
    </div>





{% endblock %}

