{% extends 'portfolio/layout.html' %}


{% load static %}


{% block content %}

    <h1 style="color: white">Quizz section!</h1>
    <div style="padding-left: 500px ;display: block; background:#aba6a6 ;height: 700px;       border-radius: 10px;        margin: 20px;        border-bottom-color: #b22121;        border-bottom-style: double;      box-shadow: rgba(129, 29, 29, 0.8) 5px 5px, rgb(77, 19, 19) 10px 10px;padding-top: 250px;">

        {% load static %}
        <img class="image" src="{% static 'portfolio/images/graf.PNG' %}">


        <h2>{{request.user}}</h2>


        <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}


            <button class="button is-success">Submeter</button>

        </form>
    </div>





{% endblock %}

