{% extends 'portfolio/layout.html' %}


{% load static %}


{% block content %}

    <div class="">
    <h1 style="color: white">Quizz sections</h1>

    <div style="display: block;height: 700px;       border-radius: 10px;        margin: 20px;        background-color: #aba6a6;        border-bottom-color: #b22121;        border-bottom-style: double;      box-shadow: rgba(129, 29, 29, 0.8) 5px 5px, rgb(77, 19, 19) 10px 10px;padding-top: 250px;">

     <div class="quiz">
        <h1>Web Programming Quiz</h1>
        {% load static %}
        <link href={% static 'portfolio/images/graf.PNG' %}>
        <h2>{{vencedorNome}}</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}


            <input type="submit" value="Submit" class="btn btn-success" >


    </div>


    </div>
{% endblock %}

 <!--
        vencedorNome = ""
    for quiz in PontuacaoQuizz.objects.all():
        print("#####")
        print(quiz.name)
        vencedorNome += quiz.name + "; "
    print(vencedorNome)

    desenha_grafico_resultados(PontuacaoQuizz.objects.all())

    form = PontuacaoQuizzForm(request.POST)
    if form.is_valid():
        form.save()
        return redirect(request.path_info)

    context = {
        'form': form,
        'vencedorNome': vencedorNome
    }

    return render(request, 'portfolio/quizz.html', context) -->

