<!-- Registo -->

{% extends 'portfolio/layout.html' %}


{% load static %}
<style>
    label {
        color: black;
    }
    .loginfrm {
    color: black;
    }


    .containerLargeAF {
        vertical-align: center;
    }
</style>

{% load static %}

{% block content %}
    <h1 style="color: #ffffff"> Register </h1>
    <div class="containerLargeAF">
        <form method="POST" class="loginfrm" action="." style="display: block;height: 700px;       border-radius: 10px;        margin: 20px;        background-color: #aba6a6;        border-bottom-color: #b22121;        border-bottom-style: double;      box-shadow: rgba(129, 29, 29, 0.8) 5px 5px, rgb(77, 19, 19) 10px 10px;padding-top: 250px;">>
            {% csrf_token %}
            {{form.as_p}}

            <input class="btn btn-success" type="submit" value="Register Account">
        </form>
    </div>
{% endblock %}