.container2 {
    display: block;
    justify-content: center;



}
.container2 img{
    height: 300px;
    width: auto;
    position: relative;
    bottom: 90px;
   left: 106%;


}

.container2 > div {
  width: 70%;
  padding: 2%;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 2%;

  background-color: #ff00ff;
  box-shadow: rgba(27, 250, 2, 0.8) 5px 5px, rgba(45, 204, 21, 0.6) 10px 10px, rgba(16, 105, 4, 0.4) 15px 15px, rgba(36, 117, 37, 0.2) 20px 20px;
  height: 250px;
  border-radius: 10px;
}


