.container2 {
    display: block;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    border-bottom-color: #00b89c;
    border-bottom-style: double


}



